<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>德州-debug</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="full-screen" content="true" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="360-fullscreen" content="true" />
    <meta name="wap-font-scale" content="no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <style>
        html, body {
            -ms-touch-action: none;
            background: #e5e5e5;
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }
        body {
            background-repeat:no-repeat;
            background-position:center;
            background-image: url(resource/splash.png);
        }
        .web-loading {
            color: #004d5d;
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 100px;
        }
    </style>
</head>

<body>
    <div class="web-loading">正在启动...</div>
    <div style="margin: auto;width: 100%;height: 100%;" class="egret-player" data-entry-class="Main" data-orientation="portrait" data-scale-mode="fixedWidth" data-frame-rate="50"
data-content-width="720" data-content-height="1280" data-show-paint-rect="false" data-multi-fingered="2" data-show-fps="false"
data-show-log="false" data-show-fps-style="x:0,y:0,size:12,textColor:0xffffff,bgAlpha:0.2">
</div>
<script egret="libs" src="js/jszip.min.js"></script>
<script egret="libs" src="js/i18n.min.js"></script>

<script>
    //资源文件外部声明用于版本控制
    var resJsonUrl = "default.res.json";
    var langName = localStorage.getItem("giant_poker_lang");
    if(!langName)
    {
        langName = "zh-tw";
    }
    //多语言处理
    I18n.initSystem("", [langName]);
    var langUrl = "resource/assets/lang/"+langName+".zip";
    loadZip(langUrl, onLangLoadComplete);
    //加载单个zip文件，成功后进行回调
    function loadZip(url, callBack) {
        var xhrZip = new XMLHttpRequest();
        xhrZip.open("GET", url, true);
        xhrZip.responseType = "arraybuffer";
        xhrZip.addEventListener("load", function (oEvent) {
            var arrayBuffer = xhrZip.response; // 注意:不是oReq.responseText
            if (!arrayBuffer) {
                console.log(url + "解析异常:" + xhrZip);
                throw new Error("zip异常");
            }
            callBack(arrayBuffer);
        });
        xhrZip.send(null);
    }
    //jszip解析zip文件，并转换为javascript脚本运行
    function onLangLoadComplete(data) {
        JSZip.loadAsync(data).then(function (zip) {
            return zip.file(langName + ".json").async("string");
        }).then(function (text) {
            I18n.initMap(text);
            runMain();
        });
    }
    function runMain() {
        //web_config_subPath是index.php传过来的，没有为直接访问,读取相对路径
        if (window.web_config_subPath == null) {
            window.web_config_subPath = '';
        }
        //
        function isWeiXin() {
            var ua = window.navigator.userAgent.toLowerCase();
            return (ua.match(/MicroMessenger/i) == 'micromessenger');
        }
        //
        var loadScript = function (list, callback) {
            var loaded = 0;
            var loadNext = function () {
                loadSingleScript(list[loaded], function () {
                    loaded++;
                    if (loaded >= list.length) {
                        callback();
                    }
                    else {
                        loadNext();
                    }
                })
            };
            loadNext();
        };
        var loadSingleScript = function (src, callback) {
            var s = document.createElement('script');
            s.async = false;
            s.src = (src.indexOf('http://') === 0 || src.indexOf('https://') === 0) ? src : window.web_config_subPath + src;
            s.addEventListener('load', function () {
                s.parentNode.removeChild(s);
                s.removeEventListener('load', arguments.callee, false);
                callback();
            }, false);
            document.body.appendChild(s);
        };
        //加载代码zip
        try {
            loadZip("js/lib.zip", function (zipData) {
                //压缩进的egret引擎的各个代码文件
                jszipParse(zipData, "lib.min.js", loadMain);
                function loadMain() {
                    //加载游戏代码
                    loadZip("js/main.zip", function (zipData) {
                        jszipParse(zipData, "main.min.js", runScript);
                    });
                }
                function runScript() {
                    if (isWeiXin()) {
                        //脚本合起来
                        window.web_config_scripts = [];
                        window.web_config_scripts.push('http://res.wx.qq.com/open/js/jweixin-1.2.0.js');
                        loadScript(window.web_config_scripts, function () {
                            /**
                             * {
                             * "renderMode":, //引擎渲染模式，"canvas" 或者 "webgl"
                             * "audioType": 0 //使用的音频类型，0:默认，2:web audio，3:audio
                             * "antialias": //WebGL模式下是否开启抗锯齿，true:开启，false:关闭，默认为false
                             * "retina": //是否基于devicePixelRatio缩放画布
                             * }
                             **/
                            console.log("done1");
                            egret.runEgret({
                                renderMode: "webgl", audioType: 0, calculateCanvasScaleFactor: function (context) {
                                    var backingStore = context.backingStorePixelRatio ||
                                        context.webkitBackingStorePixelRatio ||
                                        context.mozBackingStorePixelRatio ||
                                        context.msBackingStorePixelRatio ||
                                        context.oBackingStorePixelRatio ||
                                        context.backingStorePixelRatio || 1;
                                    return (window.devicePixelRatio || 1) / backingStore;
                                }
                            });
                        });
                    }
                    else {
                        console.log("done2");
                        //全部加载完成，启动egret游戏
                        egret.runEgret({
                            renderMode: "webgl", audioType: 0, calculateCanvasScaleFactor: function (context) {
                                var backingStore = context.backingStorePixelRatio ||
                                    context.webkitBackingStorePixelRatio ||
                                    context.mozBackingStorePixelRatio ||
                                    context.msBackingStorePixelRatio ||
                                    context.oBackingStorePixelRatio ||
                                    context.backingStorePixelRatio || 1;
                                return (window.devicePixelRatio || 1) / backingStore;
                            }
                        });
                    }
                }
            });
        }
        catch (e) {
            //压缩失败，实际项目这里需要改为加载没压缩的js文件。
            console.error("jszip解压文件报错，进行普通文件加载");
        }
        //jszip解析zip文件，并转换为javascript脚本运行
        function jszipParse(data, filename, callback) {
            JSZip.loadAsync(data).then(function (zip) {
                return zip.file(filename).async("string");
            }).then(function (text) {
                console.log("使用document.createElement");
                addScript(text);
                callback();
                //使用eval
                // eval(text);
            });
        }
        //使用document创建javascript脚本
        function addScript(text) {
            var script = document.createElement('script');
            script.setAttribute('type', 'text/javascript');
            script.text = text;
            document.body.appendChild(script);
            document.body.removeChild(script);
        }
    }
    //处理微信平台打开
    (function () {
        function onBridgeReady() {
            WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize': 0 });
            WeixinJSBridge.on('menu:setfont', function () {
                WeixinJSBridge.invoke('setFontSizeCallback', { 'fontSize': 0 });
            });
        }
        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
    })();
</script>
</body>
</html>