# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Vim swap file
*.swp

# files
*.log
*.map
*.wing
# dir
server/gopath/pkg
git
/client/bin-debug
/client/resource_Publish
/client/bin-release
/client/libs/exml.e.d.ts
/client/resource/default.thm.json
/client/manifest.json
/client/node_modules
/client/bin-debug
/client/bin-publish
/client/bin-release
/client/src/libs/qin/net/NetManager.ts
/client/libs/exml.e.d.ts
/client/libs/exml.e.d.ts
