{
	"name": "LoginServer",
    "tblpath": {
        "excel":"../tbl/excel/",
        "json":"../tbl/json/",
        "xml":"../tbl/xml/"
    },
    "event_queuesize":100000,
	"listens": [
		{
			"name": "GateListener",
			"parser": "GW2LS_MsgParser",
			"host": {
				"ip": "192.168.30.202", "port": 7001
			},
            "verify": 0,
            "svrchannel":true,
            "disable_eventqueue": false
		}
	],
	"udplistens": [
		{
			"name": "ClientListener",
			"parser": "C2LS_MsgParser",
			"host": {
				"ip": "192.168.30.202", "port": 7002
			},
            "verify": 1,
            "svrchannel":false,
            "https": false,
            "cert":"../cert/https/https-server-214801457430415.pem",
            "certkey":"../cert/https/https-server-214801457430415.key",
            "disable_eventqueue": false
		}
	],
    "httplistens": [
		{
			"name": "TestHttpListener1",
			"host": {
				"ip": "192.168.30.202", "port": 7003
			},
            "https": false,
            "cert":"../cert/https/https-server-214801457430415.pem",
            "certkey":"../cert/https/https-server-214801457430415.key"
		}
    ],
    "redis": {
        "passwd": "",
        "db": 0,
        "host": {
            "ip": "192.168.30.202", "port": 6379
        }
    }
}
