{
	"name": "RoomServer00",
    "tblpath": {
        "excel":"../tbl/excel/",
        "json":"../tbl/json/",
        "xml":"../tbl/xml/"
    },
    "event_queuesize":100000,
	"connects": [
		{
			"name": "MatchConnector",
			"parser": "MS2RS_MsgParser",
			"host": {
				"ip": "211.159.201.35", "port": 8002
			},
            "interval": 3,
            "svrchannel":true,
            "disable": 0,
            "disable_eventqueue": false
		},
		{
			"name": "GateConnector",
			"parser": "GW2RS_MsgParser",
			"host": {
				"ip": "", "port": 0
            },
            "interval": 1,
            "svrchannel":true,
            "disable": 1,
            "disreconnect":1,
            "disable_eventqueue": false
		}
	],
    "redis": {
	"enable": true,
        "passwd": "",
        "db": 0,
        "host": {
            "ip": "127.0.0.1", "port": 6379
        }
    }
}

