{
	"name": "Robot",
    "tblpath": {
        "excel":"../tbl/excel/",
        "json":"../tbl/json/",
        "xml":"../tbl/xml/"
    },
    "event_queuesize":1000,
	"udpconnects": [
		{
			"name": "LoginConnector",
			"parser": "LS2C_MsgParser",
			"host": {
				"ip": "192.168.30.202", "port": 7002
			},
            "interval": 1,
            "svrchannel":false,
            "disable": 1,
            "disreconnect":1,
            "https":false,
            "disable_eventqueue": false
		},
		{
			"name": "GateConnector",
			"parser": "GW2C_MsgParser",
			"host": {
				"ip": "", "port": 0
            },
            "interval": 1,
            "svrchannel":false,
            "disable": 1,
            "disreconnect":1,
            "https":false,
            "disable_eventqueue": false
		}
	]
}
